.bg-custop-by-raihan{
    background-color: #fceae8;
}
.btn-custop-by-raihan{
    background-color: #f04892;
    padding: 3px 15px ;
    color: white;
    border-radius:5px;
    border: none;
}
.photo-size img{
    width: 100px;
}
.change-by-raihan{
    background-color: #f04892;
    padding: 3px 15px ;
    color: white;
    border-radius:5px;
    border: none;
}

li.hover-bg-raihan:hover{
    background-color: #f04892;
    border-radius: 5px;
}
li.hover-bg-raihan:visited{
    background-color: #f04892;
    border-radius: 5px;
}

